{
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": { 
        "es6": true 
    }
}